* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        text-align: center;
}

.start-button {
        background: purple;
        color: white;
        border: 2px solid gray;
        font-size: 25px;
}

.answer-buttons {
        background: purple;
        color: white;
        border: 2px solid gray;
        font-size: 25px;
}

#message-area {
        font-size: 350%;
}