* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        text-align: center;
}

.multiple-choice-buttons {
        background: purple;
        color: white;
        border: 2px solid gray;
        font-size: 25px;
}

#main-message {
        font-size: 350%;
}